/* 스타일링 컨테이너 */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* 영화 포스터 목록 스타일 */
.poster-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 사진 사이 간격 조절 */
    justify-content: space-between; /* 사진을 화면 가로 방향으로 균등하게 배치 */
}

.movie-poster {
    cursor: pointer;
    width: calc(20% - 20px); /* 사진 5개를 가로 방향으로 균등하게 배치하려면 20%로 설정 */
    margin-bottom: 20px;
}

/* 팝업 스타일 (만약 팝업을 사용하고 싶지 않다면 이 부분은 제거해도 됩니다) */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup h3 {
    margin-bottom: 10px;
}

.popup form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup label {
    display: block;
    margin-bottom: 10px;
}

.popup input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.popup button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
}
