<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>영화 포스터와 평점</title>
  <link rel="stylesheet" type="text/css" href="/poster.css">
</head>
<body>
<div class="container">
  <h3>영화 포스터 목록</h3>
  <div class="poster-list">
    <!-- 영화 포스터 목록을 동적으로 생성 -->
    <div class="movie-poster" th:each="movie : ${movies}" th:attr="data-movie-mcode=${movie.mcode}">
      <a th:href="@{'/movies/' + ${movie.mcode}}"> <!-- 링크로 수정 -->
        <img th:src="${movie.posterurl}" alt="Movie Poster" th:attr="data-movie-title=${movie.title}" />
      </a>
    </div>
  </div>
</div>
</body>
</html>
