<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>전체 VOD</title>
  <style>
    .movie-poster img {
      width: 20%; /* 원하는 크기로 조절 (예: 150px) */
    }

  </style>
</head>
<body>
<div class="container">
  <h3>전체 VOD 보기</h3>
  <div class="poster-list">
    <!-- 영화 포스터 목록을 동적으로 생성 -->
    <div class="movie-poster" th:each="movie : ${movies}" th:attr="data-movie-mcode=${movie.mcode}">
      <a th:href="@{'/movies/' + ${movie.mcode}}">
        <img th:src="${movie.posterurl}" alt="Movie Poster" th:attr="data-movie-title=${movie.title}" />
      </a>
    </div>
  </div>
</div>
</body>
</html>
